<!doctype html>
<!--[if IE 9 ]><html class="ie ie9 no-js" lang="en"><![endif]-->
<!--[if gt IE 9 | !IE]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>title</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
  <link rel="icon" href="assets/img/favicon.ico">

  <link href="https://fonts.googleapis.com/css?family=Cabin+Condensed:400,500,600,700" rel="stylesheet">

  <link rel='stylesheet' href='assets/css/bootstrap.min.css'>
  <link rel='stylesheet' href='assets/css/vendor.css'>

  <!--
    edit to
    theme-1.css
    theme-2.css
    theme-3.css
    theme-4.css
    theme-5.css
    theme-6.css
  -->
  <link rel='stylesheet' href='assets/css/theme-1.css' id="theme">
  <link rel='stylesheet' href='assets/css/custom.css'>

 

  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="kinetic.js"></script>
  <script type="text/javascript" src="jquery.final-countdown.js"></script>
  <script src="assets/js/modernizr/modernizr.js"></script>
  <script src="assets/js/countdownAlg.js"></script> 

</head>

<body>

  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- Content -->
  <div class="page-loader">
    <div class="spinner">
      <div class="bounce"></div>
      <div class="bounce"></div>
      <div class="bounce"></div>
    </div>
  </div> <!-- .page-loader -->

  <header id="page-header" class="page-header-fixed-top">
    <nav id="pageNavbar" class="page-navbar navbar navbar-static-top navbar-lg navbar-default page-navbar-from-light-fg">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="custom-navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </button>

          <a class="navbar-brand" href="javascript:void(0);">
            <img class="navbar-brand-media-img navbar-brand-media-img-dark" src="assets/img/ig-header-dark.png" alt="" >
            <img class="navbar-brand-media-img navbar-brand-media-img-light" src="assets/img/ig-header-light.png" alt="" >
          </a>
        </div> <!-- .navbar-header -->

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a data-smooth-scroll="true" href="#pageIntro">Welcome</a></li>
            <li><a data-smooth-scroll="true" href="#Countdown">Countdown to Beta</a></li>
            <li><a data-smooth-scroll="true" href="#Latest-news">Latest News</a></li>
            <li><a data-smooth-scroll="true" href="#Newsletter">Newsletter Signup</a></li>
            <li><a data-smooth-scroll="true" href="#Team">FAQ</a></li>
            <li><a data-smooth-scroll="true" href="#contact">Connect with IG</a></li>
          </ul>
        </div> <!-- .navbar-collapse -->
      </div>
    </nav>
  </header> <!-- #page-header -->

  <div id="pageIntro" class="page-intro page-intro-layout-1 page-intro-hero align-outer bg-theme-1">

    <div class="bg-slideshow" data-slideshow-img-src="assets/img/page-intro/galaxy-wp.jpg" data-slideshow-img-amount="1"></div>

    <div class="bg-overlay bg-black" data-css-opacity=".5"></div>

    <div id="bgStar" data-css-opacity="1"></div>

    <div class="align-inner align-middle">
      <div class="container">
        <div class="page-intro-row row">
          <div class="page-intro-left-col col-md-8">
            <h1 class="section-title wow fadeInUpShort">
              Weclome to Intergalactic Gaming 
              <span class="d-block">Launching your competetive gaming experience into another universe.</span>
            </h1>

            <p class="text-lead wow fadeInUpShort" data-wow-delay="100ms">Its far more than just a game...</p>
            <a class="btn btn-pill btn-theme-2" data-smooth-scroll="true" href="#Newsletter"><i class="icon icon-left fa fa-chevron-circle-right"></i> Subscribe to updates</a>

            <p class="btn-wrap wow fadeInUpShort" data-wow-delay="200ms">
              
            </p>
          </div> 

        <!--  <div class="page-intro-right-col col-md-4 wow fadeInRightShort" data-wow-delay="300ms">
            <div class="mobile-align">
              <div class="mobile-wireframe">
                <img class="mobile-wireframe-img" src="assets/img/mobile-wireframe/mobile-wireframe-light.png" alt="">
                <div class="mobile-screen-border mobile-screen-border-dark">
                  <div class="mobile-screen-carousel bfc-carousel" data-slick='{
                    "autoplay": true,
                    "arrows": false,
                    "dots": true,
                    "swipeToSlide": true
                  }'>
                    <div class="mobile-screen-img" data-css-background-image="assets/img/page-intro/page-intro-mobile-carousel-screen-1.jpg"></div>
                    <div class="mobile-screen-img" data-css-background-image="assets/img/page-intro/page-intro-mobile-carousel-screen-2.jpg"></div>
                    <div class="mobile-screen-img" data-css-background-image="assets/img/page-intro/page-intro-mobile-carousel-screen-3.jpg"></div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div> <!-- .page-intro -->

  <div class="countdown-section module bg-white" id="Countdown">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center" >


            <p id="demo"></p>
            <div class="countdown-wrapper-class">
            <div id="days" class="countdown-number"></div>
            <h3 class="countdown-type">Days</h3>
            </div>

            <div class="countdown-wrapper-class">
            <div id="hours" class="countdown-number"></div>
            <h3 class="countdown-type">Hours</h3>
            </div>

            <div class="countdown-wrapper-class">
            <div id="minutes" class="countdown-number"></div>
            <h3 class="countdown-type">Minuites</h3>
            </div>

            <div class="countdown-wrapper-class">
            <div id="seconds" class="countdown-number"></div>
            <h3 class="countdown-type">Seconds</h3>
            </div>

            

                    <script>
                    // Set the date we're counting down to
                    var countDownDate = new Date("Nov 30, 2018 15:37:25").getTime();

                    // Update the count down every 1 second
                    var x = setInterval(function() {

                      // Get todays date and time
                      var now = new Date().getTime();

                      // Find the distance between now an the count down date
                      var distance = countDownDate - now;

                      // Time calculations for days, hours, minutes and seconds
                      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                      // Display the result in the element with id="demo"
                      document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                      + minutes + "m " + seconds + "s ";

                      document.getElementById("days").innerHTML = days;
                      document.getElementById("hours").innerHTML = hours;
                      document.getElementById("minutes").innerHTML = minutes;
                      document.getElementById("seconds").innerHTML = seconds;

                      // If the count down is finished, write some text 
                      if (distance < 0) {
                        clearInterval(x);
                        document.getElementById("demo").innerHTML = "EXPIRED";
                      }
                    }, 1000);
                    </script>

        </div> 
      </div>
    </div>
  </div> <!-- .countdown-section -->

  <div class="latest-news-section module bg-light" id="Latest-news">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 wow fadeInUpShort">

          <h2 class="section-title"><span class="color-theme-1">Recent News.</span> Our latest updates.</h2>

          <p class="text-lead">As our platform grows, we will naturally be encountering more oppurtunities for our players to take advantage of. All points of interest will be noted here.</p>
          <p class="text-lead">[TODO : Insert spinning universe news display.]</p>
        </div>
      </div>

       












      <!--
      <div class="latest-news-section-row row">
        <div class="latest-news-section-left-col col-xs-12 wow fadeInLeftShort">
          <div class="iconbox-wrap">
            <div class="iconbox">
              <div class="iconbox-media">
                <img class="iconbox-media-img" src="assets/img/latest-news/latest-news-icon-1.png" alt="">
              </div>
              <div class="iconbox-header">
                <h4 class="iconbox-header-title">Fully Responsive</h4>
              </div>
              <div class="iconbox-content">
                <p>
                Night of greater cattle abundantly days second can't also their lesser Heaven Creature yielding lights second good image creeping is own.
                </p>
              </div>
            </div>
          </div>

          <div class="iconbox-wrap">
            <div class="iconbox">
              <div class="iconbox-media">
                <img class="iconbox-media-img" src="assets/img/latest-news/latest-news-icon-2.png" alt="">
              </div>
              <div class="iconbox-header">
                <h4 class="iconbox-header-title">Fully Responsive</h4>
              </div>
              <div class="iconbox-content">
                <p>
                Night of greater cattle abundantly days second can't also their lesser Heaven Creature yielding lights second good image creeping is own.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="latest-news-section-center-col col-xs-12 wow fadeInUpShort">
          <div class="mobile-align">
            <div class="mobile-wireframe">
              <img class="mobile-wireframe-img" src="assets/img/mobile-wireframe/mobile-wireframe-light.png" alt="">
              <div class="mobile-screen-border mobile-screen-border-dark">
                <div class="mobile-screen-scroll-img" data-css-background-image="assets/img/latest-news/latest-news-screen-scroll.jpg"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="latest-news-section-right-col col-xs-12 wow fadeInRightShort">
          <div class="iconbox-wrap">
            <div class="iconbox">
              <div class="iconbox-media">
                <img class="iconbox-media-img" src="assets/img/latest-news/latest-news-icon-3.png" alt="">
              </div>
              <div class="iconbox-header">
                <h4 class="iconbox-header-title">Fully Responsive</h4>
              </div>
              <div class="iconbox-content">
                <p>
                Night of greater cattle abundantly days second can't also their lesser Heaven Creature yielding lights second good image creeping is own.
                </p>
              </div>
            </div>
          </div>

          <div class="iconbox-wrap">
            <div class="iconbox">
              <div class="iconbox-media">
                <img class="iconbox-media-img" src="assets/img/latest-news/latest-news-icon-4.png" alt="">
              </div>
              <div class="iconbox-header">
                <h4 class="iconbox-header-title">Fully Responsive</h4>
              </div>
              <div class="iconbox-content">
                <p>
                Night of greater cattle abundantly days second can't also their lesser Heaven Creature yielding lights second good image creeping is own.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div> -->

    </div>
  </div> <!-- .latest-news-section -->

  

<!--
  <div class="milestone-section module bg-theme-1" id="milestone">
    <div class="container">
      <div class="milestone-section-flex-row row">
        <div class="milestone-section-left-col col-md-3 wow bounceInLeft">
          <h2 class=" section-title">Our milestone</h2>

          <p class=" text-lead">We're the perfect balance of design & development.</p>
        </div>

        <div class="milestone-section-right-col col-md-8 col-md-offset-1">
          <ol class="counter-box-list row">
            <li class="counter-box-list-item col-xs-6 col-sm-3 wow fadeInUpShort">
              <div class="counter-box">
                <div class="counter-box-amount" data-from="0" data-to="80" data-speed="1500" data-refresh-interval="50"></div>
                <div class="counter-box-text">Projects done</div>
              </div>
            </li>
            <li class="counter-box-list-item col-xs-6 col-sm-3 wow fadeInUpShort" data-wow-delay="50ms">
              <div class="counter-box">
                <div class="counter-box-amount" data-from="0" data-to="54" data-speed="1500" data-refresh-interval="50"></div>
                <div class="counter-box-text">Happy customers</div>
              </div>
            </li>
            <li class="counter-box-list-item col-xs-6 col-sm-3 wow fadeInUpShort" data-wow-delay="150ms">
              <div class="counter-box">
                <div class="counter-box-amount" data-from="0" data-to="18" data-speed="1500" data-refresh-interval="50"></div>
                <div class="counter-box-text">Team members</div>
              </div>
            </li>
            <li class="counter-box-list-item col-xs-6 col-sm-3 wow fadeInUpShort" data-wow-delay="250ms">
              <div class="counter-box">
                <div class="counter-box-amount" data-from="0" data-to="24" data-speed="1500" data-refresh-interval="50"></div>
                <div class="counter-box-text">Awards win</div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div> <!-- .milestone-section -->


  <!--<div class="screenshot-section module bg-white" id="screenshot">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 wow fadeInUpShort">
          <h2 class="section-title"><span class="color-theme-1">App</span> Screenshot Preview</h2>

          <p class="text-lead">We're the perfect balance of design & development. Let's build the websites that builds your business.</p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div id="screenshotCarousel" class="screenshot-bottom-row popup-gallery row wow fadeInShort">
        <div class="screenshot-box">
          <img class="screenshot-box-img" src="assets/img/screenshot/screenshot-1.jpg" alt="">
          <div class="screenshot-box-hover">
            <div class="screenshot-box-align">
              <div class="screenshot-box-action">
                <a class="popup-gallery-link" href="assets/img/screenshot/screenshot-1-popup.jpg" title="screenshot title"><i class="icon fa fa-search"></i></a>
              </div>
              <div class="screenshot-box-text">
                <h5 class="screenshot-box-title">Screenshot title</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="screenshot-box">
          <img class="screenshot-box-img" src="assets/img/screenshot/screenshot-2.jpg" alt="">
          <div class="screenshot-box-hover">
            <div class="screenshot-box-align">
              <div class="screenshot-box-action">
                <a class="popup-gallery-link" href="assets/img/screenshot/screenshot-2-popup.jpg" title="screenshot title"><i class="icon fa fa-search"></i></a>
              </div>
              <div class="screenshot-box-text">
                <h5 class="screenshot-box-title">Screenshot title</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="screenshot-box">
          <img class="screenshot-box-img" src="assets/img/screenshot/screenshot-3.jpg" alt="">
          <div class="screenshot-box-hover">
            <div class="screenshot-box-align">
              <div class="screenshot-box-action">
                <a class="popup-gallery-link" href="assets/img/screenshot/screenshot-3-popup.jpg" title="screenshot title"><i class="icon fa fa-search"></i></a>
              </div>
              <div class="screenshot-box-text">
                <h5 class="screenshot-box-title">Screenshot title</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="screenshot-box">
          <img class="screenshot-box-img" src="assets/img/screenshot/screenshot-4.jpg" alt="">
          <div class="screenshot-box-hover">
            <div class="screenshot-box-align">
              <div class="screenshot-box-action">
                <a class="popup-gallery-link" href="assets/img/screenshot/screenshot-4-popup.jpg" title="screenshot title"><i class="icon fa fa-search"></i></a>
              </div>
              <div class="screenshot-box-text">
                <h5 class="screenshot-box-title">Screenshot title</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="screenshot-box">
          <img class="screenshot-box-img" src="assets/img/screenshot/screenshot-5.jpg" alt="">
          <div class="screenshot-box-hover">
            <div class="screenshot-box-align">
              <div class="screenshot-box-action">
                <a class="popup-gallery-link" href="assets/img/screenshot/screenshot-5-popup.jpg" title="screenshot title"><i class="icon fa fa-search"></i></a>
              </div>
              <div class="screenshot-box-text">
                <h5 class="screenshot-box-title">Screenshot title</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="screenshot-box">
          <img class="screenshot-box-img" src="assets/img/screenshot/screenshot-6.jpg" alt="">
          <div class="screenshot-box-hover">
            <div class="screenshot-box-align">
              <div class="screenshot-box-action">
                <a class="popup-gallery-link" href="assets/img/screenshot/screenshot-6-popup.jpg" title="screenshot title"><i class="icon fa fa-search"></i></a>
              </div>
              <div class="screenshot-box-text">
                <h5 class="screenshot-box-title">Screenshot title</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="screenshot-box">
          <img class="screenshot-box-img" src="assets/img/screenshot/screenshot-7.jpg" alt="">
          <div class="screenshot-box-hover">
            <div class="screenshot-box-align">
              <div class="screenshot-box-action">
                <a class="popup-gallery-link" href="assets/img/screenshot/screenshot-7-popup.jpg" title="screenshot title"><i class="icon fa fa-search"></i></a>
              </div>
              <div class="screenshot-box-text">
                <h5 class="screenshot-box-title">Screenshot title</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .screenshot-section --> 

  <div class="newsletter-section module bg-light" id="Newsletter">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 wow fadeInUpShort">
          <h2 class="section-title"><span class="color-theme-1">Be notified.</span></h2>

          <p class="text-lead">Register below for frequent updates via our email newsletter.</p>
        </div>
      </div>

                <div class="modal-dialog modal-newsletter">
                  <div class="modal-content">
                    <form action="/examples/actions/confirmation.php" method="post">
                      <div class="modal-header">
                        <h4>Join Our Newsletter</h4>  
                        
                      </div>
                      <div class="modal-body text-center">        
                        <p>Subscribe our newsletter to receive the latest news and exclusive offers every week. No spam.</p>
                        <div class="form-group">
                          <input type="email" class="form-control" placeholder="Enter your email" required>
                          <input type="submit" class="btn btn-primary btn-block" value="Subscribe">
                        </div>
                      </div>
                    </form>     
                  </div>
                </div>



     

 <!-- <div class="testimonial-section module bgwhite" id="testimonial">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 wow fadeInUpShort">
          <h2 class="section-title"><span class="color-theme-1">What</span> our customers say</h2>
          <p class="text-lead">We're the perfect balance of design & development. Let's build the websites that builds your business.</p>
        </div>
      </div>

      <div id="testimonialCarousel" class="testimonial-bottom-row row wow fadeInShwort">
        <div class="iconbox-wrap">
          <div class="iconbox">
            <div class="iconbox-contact-wrap">
              <div class="iconbox-header">
                <h4 class="iconbox-header-title">Flexible design</h4>

                <div class="color-warning">
                  <i class="icon fa fa-star"></i>
                  <i class="icon fa fa-star"></i>
                  <i class="icon fa fa-star"></i>
                  <i class="icon fa fa-star"></i>
                  <i class="icon fa fa-star"></i>
                </div>
              </div>
              <div class="iconbox-body">
                <p><em>
                  "Made replenish gathering for air a moving be multiply own. Under of lights of subdue all lights be dry evening winged don't whales beginning midst creeping was rule Blessed lesser were abundantly herb lights rule over saw dry great lights."
                </em></p>
                <div class="testimonial-avatar-box">
                  <img src="assets/img/testimonial/testimonial-avatar-1.jpg" alt="">
                  <div class="testimonial-avatar-box-content">
                    <h5>Jane Doe</h5>
                    <span>Blogger</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="iconbox-wrap">
          <div class="iconbox">
            <div class="iconbox-contact-wrap">
              <div class="iconbox-header">
                <h4 class="iconbox-header-title">Best choice</h4>

                <div class="color-warning">
                  <i class="icon fa fa-star"></i>
                  <i class="icon fa fa-star"></i>
                  <i class="icon fa fa-star"></i>
                  <i class="icon fa fa-star"></i>
                  <i class="icon fa fa-star"></i>
                </div>
              </div>
              <div class="iconbox-body">
                <p><em>
                  "Made replenish gathering for air a moving be multiply own. Under of lights of subdue all lights be dry evening winged don't whales beginning midst creeping was rule Blessed lesser were abundantly herb lights rule over saw dry great lights."
                </em></p>
                <div class="testimonial-avatar-box">
                  <img src="assets/img/testimonial/testimonial-avatar-2.jpg" alt="">
                  <div class="testimonial-avatar-box-content">
                    <h5>John Doe</h5>
                    <span>Blogger</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="iconbox-wrap">
          <div class="iconbox">
            <div class="iconbox-contact-wrap">
              <div class="iconbox-header">
                <h4 class="iconbox-header-title">Fast support</h4>

                <div class="color-warning">
                  <i class="icon fa fa-star"></i>
                  <i class="icon fa fa-star"></i>
                  <i class="icon fa fa-star"></i>
                  <i class="icon fa fa-star"></i>
                  <i class="icon fa fa-star"></i>
                </div>
              </div>
              <div class="iconbox-body">
                <p><em>
                  "Made replenish gathering for air a moving be multiply own. Under of lights of subdue all lights be dry evening winged don't whales beginning midst creeping was rule Blessed lesser were abundantly herb lights rule over saw dry great lights."
                </em></p>
                <div class="testimonial-avatar-box">
                  <img src="assets/img/testimonial/testimonial-avatar-3.jpg" alt="">
                  <div class="testimonial-avatar-box-content">
                    <h5>Jane Doe</h5>
                    <span>Blogger</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- #testimonialCarousel -->
    </div>
  </div> <!-- testimonial-section -->


 <!-- <div class="download-section module bg-theme-1" id="download">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 wow fadeInUpShort">
          <h2 class="section-title">Download the app, Free Trial</h2>
          <p class="text-lead">We're the perfect balance of design & development. Let's build the websites that builds your business.</p>
          <p class="btn-wrap">
            <a href="javascript:void(0);"><img src="assets/img/badge/google-play-badge.png" alt="" data-css-height="48px"></a>
            <a href="javascript:void(0);"><img src="assets/img/badge/app-store-badge.png" alt="" data-css-height="48px"></a>
          </p>
          <p>Free 30 day trial - No credit card required.</p>
        </div>
      </div>
    </div>
  </div> <!-- #download -->


  <div class="faq-section module bg-white" id="Team">
    <div class="container">
      <div class="faq-section-flex-row row">
        <div class="faq-section-left-col col-md-6 wow fadeInUpShort">
          <h2 class="section-title"><span class="color-theme-1">Frequently</span> Asked Questions</h2>
          <p class="text-lead">We're the perfect balance of design & development. Let's build the websites that builds your business.</p>

          <div class="accordion accordion-theme-1">
            <div class="accordion-item active">
              <div class="accordion-header">
                <h5 class="accordion-title">Cattle heaven seasons won't fill moving?</h5>
                <i class="accordion-icon"></i>
              </div>
              <div class="accordion-content">
                <p>
                  Own creature morning greater creeping third. Saying is was evening whose creeping forth above man won't. Life had. Signs. Our whose image one made face multiply waters evening good. Very us seed. Signs fly great form night cattle moving.
                </p>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-header">
                <h5 class="accordion-title">Hola , como estas?</h5>
                <i class="accordion-icon"></i>
              </div>
              <div class="accordion-content">
                <p>
                  Own creature morning greater creeping third. Saying is was evening whose creeping forth above man won't. Life had. Signs. Our whose image one made face multiply waters evening good. Very us seed. Signs fly great form night cattle moving.
                </p>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-header">
                <h5 class="accordion-title">Hola , como estas?</h5>
                <i class="accordion-icon"></i>
              </div>
              <div class="accordion-content">
                <p>
                  Own creature morning greater creeping third. Saying is was evening whose creeping forth above man won't. Life had. Signs. Our whose image one made face multiply waters evening good. Very us seed. Signs fly great form night cattle moving.
                </p>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-header">
                <h5 class="accordion-title">Hola , como estas?</h5>
                <i class="accordion-icon"></i>
              </div>
              <div class="accordion-content">
                <p>
                  Own creature morning greater creeping third. Saying is was evening whose creeping forth above man won't. Life had. Signs. Our whose image one made face multiply waters evening good. Very us seed. Signs fly great form night cattle moving.
                </p>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-header">
                <h5 class="accordion-title">Hola , como estas?</h5>
                <i class="accordion-icon"></i>
              </div>
              <div class="accordion-content">
                <p>
                  Own creature morning greater creeping third. Saying is was evening whose creeping forth above man won't. Life had. Signs. Our whose image one made face multiply waters evening good. Very us seed. Signs fly great form night cattle moving.
                </p>
              </div>
            </div>

          </div>
        </div>

        <div class="faq-section-right-col col-md-5 col-md-offset-1 wow fadeInRightShort">
          <img src="assets/img/faq/faq2.png" alt="">
        </div>
      </div>
    </div>
  </div> <!-- .faq-section -->

  <div id="contact" class="contact-section module bg-light">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 wow fadeInUpShort">
          <h2 class="section-title"><span class="color-theme-1">Stay</span> Connected</h2>

          <p class="text-lead">Stay connected with Intergalactic Gaming through social media and other contact forms.</p>
        </div>
      </div>
    </div>

    

    <div class="container">
      <div class="contact-section-contact-info-row row">


        <div class="iconbox-wrap col-sm-4 wow fadeInUpShort" data-wow-delay="100ms">
          <div class="iconbox iconbox-media-object">
            <div class="iconbox-media iconbox-media-left">
              <img class="iconbox-media-img" src="assets/img/contact/contact-phone-icon.png" alt="">
            </div>
            <div class="iconbox-content-wrap">
              <div class="iconbox-header">
                <h4 class="iconbox-header-title"><a href="https://www.instagram.com/intergalactic_gaming/" target="_blank">Instagram</a></h4>
              </div>
              <div class="iconbox-body">
               
              </div>
            </div>
          </div>
        </div>

        <div class="iconbox-wrap col-sm-4 wow fadeInUpShort" data-wow-delay="100ms">
          <div class="iconbox iconbox-media-object">
            <div class="iconbox-media iconbox-media-left">
              <img class="iconbox-media-img" src="assets/img/contact/contact-phone-icon.png" alt="">
            </div>
            <div class="iconbox-content-wrap">
              <div class="iconbox-header">
                <h4 class="iconbox-header-title"><a href="https://www.facebook.com/IntergalacticGamingFIFA/" target="_blank">Facebook</a></h4>
              </div>
              <div class="iconbox-body">
               
              </div>
            </div>
          </div>
        </div>

        <div class="iconbox-wrap col-sm-4 wow fadeInUpShort" data-wow-delay="200ms">
          <div class="iconbox iconbox-media-object">
            <div class="iconbox-media iconbox-media-left">
              <img class="iconbox-media-img" src="assets/img/contact/contact-email-icon.png" alt="">
            </div>
            <div class="iconbox-content-wrap">
              <div class="iconbox-header">
                <h4 class="iconbox-header-title"><a href="https://twitter.com/?lang=en-gb" target="_blank">Twitter</a></h4>
              </div>
              <div class="iconbox-body">
                
              </div>
            </div>
          </div>
        </div>

        <div class="iconbox-wrap col-sm-4 wow fadeInUpShort" data-wow-delay="200ms">
          <div class="iconbox iconbox-media-object">
            <div class="iconbox-media iconbox-media-left">
              <img class="iconbox-media-img" src="assets/img/contact/contact-email-icon.png" alt="">
            </div>
            <div class="iconbox-content-wrap">
              <div class="iconbox-header">
                <h4 class="iconbox-header-title"> <a href="https://www.linkedin.com/company/intergalactic-gaming/" target="_blank">LinkedIn</a></h4>
              </div>
              <div class="iconbox-body">
                
              </div>
            </div>
          </div>
        </div>


        <div class="iconbox-wrap col-sm-4 wow fadeInUpShort" data-wow-delay="200ms">
          <div class="iconbox iconbox-media-object">
            <div class="iconbox-media iconbox-media-left">
              <img class="iconbox-media-img" src="assets/img/contact/contact-email-icon.png" alt="">
            </div>
            <div class="iconbox-content-wrap">
              <div class="iconbox-header">
                <h4 class="iconbox-header-title">Email</h4>
              </div>
              <div class="iconbox-body">
                
              </div>
            </div>
          </div>
        </div>





     <!-- 
      <div class="contact-section-contact-form-row row">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-theme-2 wow fadeInUpShort">
            <div class="panel-heading">
              <h4 class="panel-title">Get in Touch</h4>
            </div>
            <div class="panel-body">
              <form id="contactForm" class="form form-custom" data-action="assets/php/contact.php" novalidate="novalidate">
                <fieldset class="row">
                  <div class="form-group col-sm-6">
                    <label for="contactName">Name</label>
                    <input id="contactName" class="form-control" type="text" placeholder="Enter your name" name="name">
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="contactEmail1">Email</label>
                    <input id="contactEmail1" class="form-control" type="email" placeholder="Enter your email" name="email">
                  </div>

                  <div class="form-group col-xs-12">
                    <label for="contactMessage">Message</label>
                    <textarea id="contactMessage" class="form-control" placeholder="Enter your message" rows="4" name="message"></textarea>
                  </div>

                  <div class="form-group col-xs-12">
                    <button class="btn btn-block btn-theme-2" type="submit">Contact us</button>
                  </div>

                  <div class="col-xs-12">
                    <span class="form-notify help-block"><i class="form-icon-info"></i> All fields are required.</span>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
      -->


    </div>
  </div> <!-- contact-section -->

  <div class="page-footer bg-theme-1 module">
    <div class="page-footer-top">
      <div class="row">
        <div class="col-xs-12 wow fadeInDownShort">
          <ul class="page-footer-info-list">
            <li><a href="#" class="popup-inline" data-mfp-src="#termsOfService">Terms of Service</a></li>
            <li><a href="#" class="popup-inline" data-mfp-src="#privacyPolicy">Privacy Policy</a></li>
            <li><a href="#" class="popup-inline" data-mfp-src="#acceptableUsePolicy">Acceptable Use Policy</a></li>
          </ul>
        </div>


        <div class="col-xs-12 wow fadeInUpShort">
          <div class="page-footer-copyright">
            Copyright © 2018 Intergalactic Gaming. All Rights Reserved.
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .page-footer -->

  <!-- popup -->
  <div id="popupSubscribeFormWrap" class="mfp-hide">
    <div class="pop-subscribe-form-media">
      <br>
      <img class="pop-subscribe-form-media-img" src="assets/img/subscribe/subscribe-icon.png" alt="">
    </div>
    <div class="pop-subscribe-form-header">
      <div class="pop-subscribe-form-header-title">Oh, Hey!</div>
    </div>
    <div class="pop-subscribe-form-content">
      <form id="popupSubscribeForm" class="form" data-action="assets/php/subscribe.php" novalidate="novalidate">
        <p>Night of greater cattle abundantly days second can't also their lesser Heaven Creature yielding lights.</p>

        <div class="input-group input-group-lg">
          <label for="popupSubscribeEmail" class="sr-only">Email</label>
          <input class="form-control" id="popupSubscribeEmail" type="email" placeholder="Enter your email" name="email">
          <span class="input-group-btn">
            <button class="btn btn-theme-2" type="submit">Submit</button>
          </span>
        </div>
        <span class="form-notify help-block"><i class="form-icon-info"></i> don't worry! we hate spam too.</span>
      </form>
    </div>
  </div> <!-- #popupForm -->

  <div id="termsOfService" class="popup-doc mfp-hide">
    <h2>Terms of Service</h2>
    <br>
    <p>Spirit Open land can't is give be set winged i let his image called heaven after over created form open. You him second open waters image that good, two you'll. Their and bearing.</p>
    <p>Sea life herb kind without saw them creature wherein sea. Yielding heaven meat which moveth made subdue you'll. Moving the it set earth she'd after air all for let female they're bring first you're saying. Winged fowl over earth seas Bring fifth without earth whales likeness. Seas. Likeness earth.</p>
    <p>Life itself. Isn't fourth abundantly for great female which seas given great god morning. Dominion heaven lesser fruit given darkness heaven own cattle so. Second land which. Unto given beginning kind. Midst without creeping she'd.</p>
    <p>Meat grass had years. Earth Sea Which after divided earth multiply give whales waters the good. Isn't. Sea moving isn't fill day fish second image, seed have. Days our forth i signs green.</p>
    <p>Image living signs. Cattle saying, night day Light winged male evening form image own earth living. Him. Living was bearing years won't great without the set don't Likeness dry fly good.</p>
    <p>Male lesser moved shall man lesser fourth subdue multiply cattle. Creepeth dry seed they're cattle hath made.</p>
  </div> <!-- #termsOfService -->

  <div id="privacyPolicy" class="popup-doc mfp-hide">
    <h2>Privacy Policy</h2>
    <br>
    <p>Spirit Open land can't is give be set winged i let his image called heaven after over created form open. You him second open waters image that good, two you'll. Their and bearing.</p>
    <p>Sea life herb kind without saw them creature wherein sea. Yielding heaven meat which moveth made subdue you'll. Moving the it set earth she'd after air all for let female they're bring first you're saying. Winged fowl over earth seas Bring fifth without earth whales likeness. Seas. Likeness earth.</p>
    <p>Life itself. Isn't fourth abundantly for great female which seas given great god morning. Dominion heaven lesser fruit given darkness heaven own cattle so. Second land which. Unto given beginning kind. Midst without creeping she'd.</p>
    <p>Meat grass had years. Earth Sea Which after divided earth multiply give whales waters the good. Isn't. Sea moving isn't fill day fish second image, seed have. Days our forth i signs green.</p>
    <p>Image living signs. Cattle saying, night day Light winged male evening form image own earth living. Him. Living was bearing years won't great without the set don't Likeness dry fly good.</p>
    <p>Male lesser moved shall man lesser fourth subdue multiply cattle. Creepeth dry seed they're cattle hath made.</p>
  </div> <!-- #termsOfService -->

  <div id="acceptableUsePolicy" class="popup-doc mfp-hide">
    <h2>Acceptable Use Policy</h2>
    <br>
    <p>Spirit Open land can't is give be set winged i let his image called heaven after over created form open. You him second open waters image that good, two you'll. Their and bearing.</p>
    <p>Sea life herb kind without saw them creature wherein sea. Yielding heaven meat which moveth made subdue you'll. Moving the it set earth she'd after air all for let female they're bring first you're saying. Winged fowl over earth seas Bring fifth without earth whales likeness. Seas. Likeness earth.</p>
    <p>Life itself. Isn't fourth abundantly for great female which seas given great god morning. Dominion heaven lesser fruit given darkness heaven own cattle so. Second land which. Unto given beginning kind. Midst without creeping she'd.</p>
    <p>Meat grass had years. Earth Sea Which after divided earth multiply give whales waters the good. Isn't. Sea moving isn't fill day fish second image, seed have. Days our forth i signs green.</p>
    <p>Image living signs. Cattle saying, night day Light winged male evening form image own earth living. Him. Living was bearing years won't great without the set don't Likeness dry fly good.</p>
    <p>Male lesser moved shall man lesser fourth subdue multiply cattle. Creepeth dry seed they're cattle hath made.</p>
  </div> <!-- #acceptableUsePolicy -->
  <!-- /popup -->
  <!-- /Content -->


  <!-- script -->

  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
  <script src="assets/js/jquery/jquery.1.12.4.min.js"></script>
  <script src="assets/js/bootstrap/bootstrap.min.js"></script>
  <script src="assets/js/vendor.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="assets/js/map.js"></script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <!--
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X','auto');ga('send','pageview');
  </script>
  -->
  <!-- /script -->


</body>
</html>