<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Intergalactic Gaming Official Website</title>
  <meta property="description" content=""/>

  <meta property="og:title" content="Intergalactic Gaming Official Website"/>
  <meta property="og:description" content=""/>
  <meta property="og:url" content="http://iggalaxy.com" />
  <meta property="og:site_name" content="Intergalactic Gaming"/>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Intergalactic Gaming Official Website">
  <meta name="author" content="Intergalactic Gaming">

  <link rel="icon" type="image/png" href="/favicon.png">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel='stylesheet' href='assets/css/vendor.css'>

  <link rel='stylesheet' href='assets/css/style.min.css'>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
  <script src="assets/js/modernizr/modernizr.js"></script>

</head>
<body data-spy="scroll" data-target="#main-navbar" data-offset="0">
<header class="site-header">
  <div class="sub-header">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <ul class="list-unstyled sub-header-social">
            <li><a class="top-social-link" href="https://facebook.com/IntergalacticGamingFIFA/" target="_blank"><i class="fab fa-youtube"></i></a></li>
            <li><a class="top-social-link" href="https://instagram.com/intergalactic_gaming/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a class="top-social-link" href="https://twitter.com/Official_IGG/media" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a class="top-social-link" href="https://www.linkedin.com/company/intergalactic-gaming/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li><a class="top-social-link" href="mailto:welcome@iggalaxy.com"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="main-header-nav">
    <!-- Main Navigation -->
    <div class="container main-nav-container">
      <nav class="navbar-main navbar navbar-expand-lg" id="main-navbar">
        <a class="navbar-brand mr-auto" href="../">
          <img src="assets/img/ig-header-light.png" class="img-fluid brand-logo d-none d-xl-block" alt="Intergalactic Gaming Logo">
          <img src="assets/img/ig-emblem.png" class="img-fluid brand-logo d-block d-xl-none" alt="Intergalactic Gaming emblem Logo">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="line-bar"></span>
          <span class="line-bar"></span>
          <span class="line-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav main-links ml-auto">
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#pageIntro">Welcome <div class="identify-triangle"></div></a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#introduction">About <div class="identify-triangle"></div></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/news">Latest News <div class="identify-triangle"></div></a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#faq">FAQ <div class="identify-triangle"></div></a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#signup">Signup <div class="identify-triangle"></div></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

<div class="page-wrapper">
  <div class="page-intro" id="pageIntro">
    <div id="bgStar" data-css-opacity="1"></div>
    <div class="bg-slideshow"></div>
    <div class="container">
      <div class="page-intro-row row">
        <div class="col-lg-6">
          <h1 class="section-title">
            Welcome to Intergalactic Gaming
          </h1>
          <p>Launching your competetive gaming experience into another universe.</span>
          <p class="text-lead">Its far more than just a game...</p>
          <a class="btn btn-read-more" href="#signup">Subscribe to updates <i class="icon icon-left fa fa-arrow-right"></i></a>
        </div>
        <div class="col-md-6">
          <!-- Image Goes here -->
        </div>
      </div>
    </div>
  </div> <!-- .page-intro -->

  <div class="countdown-section" id="Countdown">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="countdown-title">Launch to Beta starting in:</h2>
            <div class="countdown-wrapper-class">
            <div id="days" class="countdown-number"></div>
            <h3 class="countdown-type">Days</h3>
            </div>

            <div class="countdown-wrapper-class">
            <div id="hours" class="countdown-number"></div>
            <h3 class="countdown-type">Hours</h3>
            </div>

            <div class="countdown-wrapper-class">
            <div id="minutes" class="countdown-number"></div>
            <h3 class="countdown-type">Minutes</h3>
            </div>

            <div class="countdown-wrapper-class">
            <div id="seconds" class="countdown-number"></div>
            <h3 class="countdown-type">Seconds</h3>
            </div>

            <script>
            // Set the date we're counting down to
            var countDownDate = new Date("Nov 30, 2018 15:37:25").getTime();

            // Update the count down every 1 second
            var x = setInterval(function() {

              // Get todays date and time
              var now = new Date().getTime();

              // Find the distance between now an the count down date
              var distance = countDownDate - now;

              // Time calculations for days, hours, minutes and seconds
              var days = Math.floor(distance / (1000 * 60 * 60 * 24));
              var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
              var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
              var seconds = Math.floor((distance % (1000 * 60)) / 1000);

              // Display the result in the element with id="demo"
              // document.getElementById("demo").innerHTML = days + "d " + hours + "h "
              // + minutes + "m " + seconds + "s ";

              document.getElementById("days").innerHTML = days;
              document.getElementById("hours").innerHTML = hours;
              document.getElementById("minutes").innerHTML = minutes;
              document.getElementById("seconds").innerHTML = seconds;

              // If the count down is finished, write some text
              if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "EXPIRED";
              }
            }, 1000);
            </script>
        </div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="sectiondivide-bottom sec-left"><polygon points="0,0 100,100 0,100 0,100"></polygon></svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="sectiondivide-bottom sec-right"><polygon points="100,100 100,0 0,100"></polygon></svg>
  </div> <!-- .countdown-section -->

  <div class="page-section intro-section" id="introduction">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="section-title">What is <span class="highlight">Intergalactic Gaming</span>?</h2>
          <p class="section-sub-title">We're the perfect balance of design & development.</p>
          <div class="title-divider"></div>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jYjnQPd33NA?rel=0" allowfullscreen></iframe>
          </div>
          <a class="page-scroll btn btn-read-more" href="#signup">Proceed to launching pad</a>
        </div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="sectiondivide-bottom sec-left"><polygon points="0,0 100,100 0,100 0,100"></polygon></svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="sectiondivide-bottom sec-right"><polygon points="100,100 100,0 0,100"></polygon></svg>
  </div>

  <div class="faq-section page-section" id="faq">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section-title"><span class="highlight">Frequently</span> Asked Questions</h2>
          <p class="section-sub-title">Let's build the websites that builds your business.</p>
          <div class="title-divider"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">

          <div class="faq-tile">
            <div class="faq-title-block">
              <a class="faq-link" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseOne">
                <span class="faq-link-title">Question about the intergalactic gaming website and the platform it will be operating?</span>
                <span class="faq-link-arrow"><i class="fa fa-chevron-down"></i></span>
              </a>
            </div>
            <div class="collapse" id="collapseOne">
              <div class="faq-answer-block">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="faq-title-block">
              <a class="faq-link" data-toggle="collapse" href="#collapsetwo" role="button" aria-expanded="false" aria-controls="collapsetwo">
                <span class="faq-link-title">Question about the intergalactic gaming website and the platform it will be operating?</span>
                <span class="faq-link-arrow"><i class="fa fa-chevron-down"></i></span>
              </a>
            </div>
            <div class="collapse" id="collapsetwo">
              <div class="faq-answer-block">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="faq-title-block">
              <a class="faq-link" data-toggle="collapse" href="#collapsethree" role="button" aria-expanded="false" aria-controls="collapsethree">
                <span class="faq-link-title">Question about the intergalactic gaming website and the platform it will be operating?</span>
                <span class="faq-link-arrow"><i class="fa fa-chevron-down"></i></span>
              </a>
            </div>
            <div class="collapse" id="collapsethree">
              <div class="faq-answer-block">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="faq-title-block">
              <a class="faq-link" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseOne">
                <span class="faq-link-title">Question about the intergalactic gaming website and the platform it will be operating?</span>
                <span class="faq-link-arrow"><i class="fa fa-chevron-down"></i></span>
              </a>
            </div>
            <div class="collapse" id="collapseOne">
              <div class="faq-answer-block">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="faq-title-block">
              <a class="faq-link" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseOne">
                <span class="faq-link-title">Question about the intergalactic gaming website and the platform it will be operating?</span>
                <span class="faq-link-arrow"><i class="fa fa-chevron-down"></i></span>
              </a>
            </div>
            <div class="collapse" id="collapseOne">
              <div class="faq-answer-block">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
          <div class="faq-tile">
            <div class="faq-title-block">
              <a class="faq-link" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseOne">
                <span class="faq-link-title">Question about the intergalactic gaming website and the platform it will be operating?</span>
                <span class="faq-link-arrow"><i class="fa fa-chevron-down"></i></span>
              </a>
            </div>
            <div class="collapse" id="collapseOne">
              <div class="faq-answer-block">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-4 d-none d-lg-block">
          <div class="image-tile">
            <img src="assets/img/placeholder-tall.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="sectiondivide-bottom sec-left"><polygon points="0,0 100,100 0,100 0,100"></polygon></svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="sectiondivide-bottom sec-right"><polygon points="100,100 100,0 0,100"></polygon></svg>
    </div>

    <div class="signup-section page-section" id="signup">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="section-title"><span class="highlight">Your journey</span> starts here</h2>
            <p class="section-sub-title">Are you ready to enter the new universe?</p>
            <div class="title-divider"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="signup-form">
              <div class="row no-gutters">
                <div class="col-xl-6 col-lg-5 signup-image-block d-none d-lg-block">
                  <div class="signup__overlay">
                    <img src="assets/img/placeholder-sign.jpg" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                  <div class="signup-form-block">
                    <h3 class="form-title">Galacticanship Application</h3>
                    <div class="title-divider"></div>
                    <form action="#">
                      <div class="form-group">
                        <label for="username">Username</label>
                        <input class="form-control" type="text" name="username" id="username" placeholder="" required />
                      </div>
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="text" name="email" id="email" placeholder="" required />
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" name="password" id="password" placeholder="" required />
                      </div>
                      <div class="form-group">
                        <label for="passwordRepeat">Repeat Password</label>
                        <input class="form-control" type="password" name="passwordRepeat" id="passwordRepeat" placeholder="" required />
                      </div>
                      <div class="form-group checkbox-group">
                        <div class="checkbox-wrap">
                          <label for="privacycheck">I have read and agree to the <a href="/privacy" target="_blank">Privacy Policy</a>:</label>
                          <input class="contact-check" type="checkbox" name="privacycheck" value="yes" required data-parsley-required="true" data-parsley-errors-messages-disabled />
                        </div>
                      </div>
                      <div class="form-group checkbox-group">
                        <div class="checkbox-wrap">
                          <label for="privacycheck">Opt-in to recieve our newsletter:</label>
                          <input class="contact-check" type="checkbox" name="privacycheck" value="yes" required data-parsley-required="true" data-parsley-errors-messages-disabled />
                        </div>
                      </div>
                      <div class="m-t-lg">
                        <ul class="list-inline">
                          <li>
                            <input class="btn btn--form" type="submit" value="Submit Application"/>
                          </li>
                        </ul>
                      </div>
                    </form>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  <div class="page-footer">
  <div class="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="section-title"><span class="color-theme-1">Stay</span> Connected</h2>
          <a class="btn btn-social-tile" href="https://facebook.com/IntergalacticGamingFIFA/" target="_blank"><i class="fab fa-youtube"></i></a>
          <a class="btn btn-social-tile" href="https://instagram.com/intergalactic_gaming/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a class="btn btn-social-tile" href="https://twitter.com/Official_IGG/media" target="_blank"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-social-tile" href="https://www.linkedin.com/company/intergalactic-gaming/" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a class="btn btn-social-tile" href="mailto:welcome@iggalaxy.com"><i class="fa fa-envelope"></i></a>
        </div>
      </div>
    </div>
    <div class="page-footer-top">
      <div class="row">
        <div class="col-12">
          <ul class="page-footer-info-list">
            <li><a href="/terms">Terms of Service</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-12">
          <div class="page-footer-copyright">
            Copyright © 2018 Intergalactic Gaming. All Rights Reserved.
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .page-footer -->
</div>
</div>
  <!-- script -->
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
  <script src="assets/js/vendor.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" type="text/javascript"></script>
  <script>
  // Smooth Page Scrolling
  $(function() {
    $('.page-scroll').bind('click', function(event) {
      var $anchor = $(this);
      $('html, body').stop().animate({
          scrollTop: $($anchor.attr('href')).offset().top-74
      }, 1500, 'easeInOutExpo');
      event.preventDefault();
    });
  });

  function getCurrentScroll() {
  return window.pageYOffset || document.documentElement.scrollTop;
  }

  // Active Page
  $(function() {
    jQuery('.nav li').each(function() {
      var href = jQuery(this).find('a').attr('href');
      if (href === window.location.pathname) {
        jQuery(this).addClass('active');
      }
    });
  });
  $(function(){
   var shrinkHeader = 10;
    $(window).scroll(function() {
      var scroll = getCurrentScroll();
      if ( scroll >= shrinkHeader ) {
         $('header').addClass('header-scroll');
        }
        else {
          $('header').removeClass('header-scroll');
        }
    });
  });
</script>
</body>
</html>
